@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Saira', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    background-color: #b7f1fa;
}

.wrapper {
    /* Аболютное позиционирования, для последующего размещения элемента ровно по центру страницы */
    position: absolute;
    /* Блок становится гибким */
    display: flex;
    /* Размешаем элементы и контент по центру горизонтали и вертикали*/
    justify-content: center;
    align-items: center;

    /* Обертка занимает полностью всю страницу по высоте и ширине */
    width: 100%;
    height: 100%;
}

.card {
    /* Размеры карточки */
    width: 300px;
    height: 500px;

    /* Относительно этого блока будут позиционироваться элементы в карточке */
    position: relative;

    /* 3D-эффект переворачивания карточки, задается глубина относительно оси z */
    perspective: 1000px;

    /* Чтобы 3D-эффект отображался во всех браузерах, необходимо задать
    стиль трансформации */
    transform-style: preserve-3d;
}

.card__front, .card__back  {
    /* Относительное позиционирование для фронтальной и задней части, чтобы элементы наложились друг на друга*/
    position: absolute;

    /* Размеры фронтальной и задней части */
    width: 100%;
    height: 100%;

    /* Фронтальная и задняя часть прибиты к верхнему левому краю */
    left: 0;
    top: 0;

    /* Блок становится гибким */
    display: flex;

    /* Размешаем элементы и контент по центру горизонтали и вертикали*/
    justify-content: center;
    align-items: center;

    /* Все изменения элементов будут проходит плавно в течении 1 секунды */
    transition: all 1s ease;

    /* Когда элемент перевернется задней частью к пользователю, тогда она скроется */
    backface-visibility: hidden;

    /* Закругление углов */
    border-radius: 30px;

    /* Тени у обеих карт: <смещение по оси X> <смещение по оси Y> <распространение тени> <цвет> */
    box-shadow: 15px 15px 50px rgb(75, 75, 75);
}

.card__front {
    /* Фоновый цвет фронтальной части */
    background-color: #fff;    
}

.card__back {
    /* Фоновый цвет задней части */
    background-color: rgb(107, 107, 107);

    /* Изначально задняя часть развернута относительно оси Y, то есть она повернута задней частью и скрыта -> backface-visibility: hidden; */
    transform: rotateY(180deg);    
}

.card:hover .card__front {
    /* При наведении фронтальная часть развернется относительно оси Y на 180 градусов, то есть повернется задней частью и станет скрытой -> backface-visibility: hidden; */
    transform: rotateY(180deg);
}

.card:hover .card__back {
    /* При наведении задняя часть развернется относительно оси Y на еще 180 градусов и повернется своей фронтальной частью и станет видна -> backface-visibility: hidden; */
    transform: rotateY(360deg);    
}


